<div class="backgrounds">
  <div class="forside seremoni"></div>
</div>
<div class="containers scrollboxes">
  <div class="content">

    <div class="scrollbox seremoni width-controller form">
      <h1>
        <span>En unik</span>seremoni
      </h1>
      <div class="sections">
        <div class="section full">
          <hr />
          <p>
            Her kan du velge hvilken type seremoni dere foretrekker, og hvilken musikk dere &oslash;nsker.
          </p>
          <div class="buttons">
            <a href="javascript:void(0);" class="tips" data-id="seremoni"></a>
          </div>
          <div class="seremoni full-description">
            <p>Her kan det st&aring; r&aring;d og tips om seremonien.</p>
          </div>
        </div>
      </div>
      <div class="sections">
        <div class="section">
          <section class="accordion seremoni" data-group="seremoni">
            <header><h2>Velg seremoni</h2></header>
            <div>
              <ul class="choices text" data-id="velg-seremoni"></ul>
            </div>
          </section>

          <section class="accordion musikk" data-group="seremoni">
            <header><h2>Velg musikk</h2></header>
            <div>
              <p>I en kirkelig seremoni kan dere velge 2 solosanger. I en humanistisk eller personlig seremoni brukes ikke salmer, og dere kan velge flere solosanger.</p>
              <ul class="choices text size-50 two-column" data-id="velg-musikk"></ul>
              <p>
                Annet:
                <textarea class="autosize" name="musikkannet"></textarea>
              </p>
            </div>
          </section>

          <section class="accordion salmer" data-group="seremoni">
            <header><h2>Velg salmer</h2></header>
            <div>
              <p>I en kirkelig seremoni skal dere velge 4 salmer. I en humanistisk eller personlig seremoni brukes ikke salmer til vanlig, men &oslash;nsker dere salmer, s&aring; gir dere beskjed under &quot;Se mine valg&quot;.</p>
              <ul class="choices text size-50 two-column" data-id="velg-salmer"></ul>
              <p>
                Annet:
                <textarea class="autosize" name="salmerannet"></textarea>
              </p>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
