<div class="backgrounds">
  <div class="blank"></div>
  <div class="blomster"></div>
</div>
<div class="containers scrollboxes">
  <div class="content">

    <div class="scrollbox blomster width-controller form">
      <h1>
        <span>Pynt til avskjed</span>Blomster
      </h1>
      <div class="sections">
        <div class="section full">
          <hr />
          <p>
            Her kan dere velge blomster. Dere kan velge mellom flere farger, og legge til flere buketter hvis dere &oslash;nsker.
          </p>
          <div class="buttons">
            <a href="javascript:void(0);" class="tips" data-id="blomster"></a>
          </div>
          <div class="blomster full-description">
            <p>Her kan det st&aring; r&aring;d og tips om blomster.</p>
          </div>
        </div>
      </div>
      <div class="sections bottom-space-30">
        <div class="section block">
          <div class="list blomster">
            <div data-id="blomster"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
