<div class="backgrounds">
  <div class="kisteurne"></div>
</div>
<div class="containers scrollboxes">
  <div class="content">

    <div class="scrollbox kisteurne width-controller form">
      <h1>
        <span>Urner og</span>kister
      </h1>
      <div class="sections">
        <div class="section full">
          <hr />
          <p>
            Velg den kisten, og eventuelt den urnen, du &oslash;nsker. Urne velges kun hvis du har valgt bisettelse som gravferd.
          </p>
          <div class="buttons">
            <a href="javascript:void(0);" class="tips" data-id="kisteurne"></a>
          </div>
          <div class="kisteurne full-description">
            <p>Her kan det st&aring; r&aring;d og tips om kister og urner.</p>
          </div>
        </div>
      </div>

      <section class="accordion kiste" data-group="kisteurne">
        <header><h2>Velg kiste</h2></header>
        <div>
          <ul class="choices image two-column" data-id="velg-kiste"></ul>
        </div>
      </section>

      <section class="accordion urne" data-group="kisteurne">
        <header><h2>Velg urne</h2></header>
        <div>
          <ul class="choices image two-column" data-id="velg-urne"></ul>
        </div>
      </section>
    </div>
  </div>
</div>
