.scrollboxes .content .scrollbox h1 {
  padding: 20px 0px;
  text-align: center;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 46px;
  line-height: 46px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #3b3b3b;
}
