<div class="backgrounds">
  <div class="forside seremoni"></div>
</div>
<div class="containers scrollboxes">
  <div class="content">

    <div class="scrollbox forside width-controller form">
      <h1>
        <span>Planlegg</span>gravferd
      </h1>
      <div class="sections">
        <div class="section full">
          <hr />
          <p>
            Denne planleggeren gj&oslash;r det enkelt for deg som skal arrangere gravferd. Dette er ingen bestilling, men en mulighet for deg til &aring; legge inn valg og &oslash;nsker f&oslash;r vi m&oslash;tes til planlegging.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
